[[source]]

name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

gdata = "*"
google-api-python-client = "*"
oauth2client = "*"
openpyxl = "*"


[dev-packages]

[requires]
python_version = "2.7"
